<h1><%= t('activerecord.models.news') %><%= t('show') %></h1>

<%- if notice.present? %>
  <p class="alert alert-success" id="notice"><%= notice %></p>
<% end %>

<div class="card card-user">
  <div class="content mx-auto">
          <p>
        <strong><%= News.human_attribute_name(:title) %>:</strong>
        <%= @news.title %>
      </p>
          <p>
        <strong><%= News.human_attribute_name(:content) %>:</strong>
        <%= @news.content %>
      </p>
          <p>
        <strong><%= News.human_attribute_name(:state) %>:</strong>
        <%= @news.state_name %>
      </p>
    

    <div class="actions text-center">
      <%= link_to t('edit'), edit_admin_news_path(@news), class: 'btn btn-info btn-fill' %> |
      <%= link_to t('back'), admin_news_index_path, class: 'btn btn-info btn-fill' %>
    </div>
  </div>
</div>

<style type="text/css">
  p {
    margin: 30px 0;
  }
</style>
