<%- if notice.present? %>
  <p class="alert alert-success" id="notice"><%= notice %></p>
<% end %>

<h1><%="#{t('activerecord.models.contact')}管理"%></h1>

<div class="row">
  <div class="col-md-12">
      <div class="card">
        <div class="header">
          <%= search_form_for([:admin, @q], class: 'form-horizontal') do |f| %>
            <div id="demo-custom-toolbar2" class="table-toolbar-left search-toolbar">
              <button class="btn btn-primary btn-fill pull-right" type="submit">查询</button>
            </div>
          <% end %>
        </div>
          <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                  <thead>
                    <th><%= Contact.human_attribute_name(:name) %></th>
                    <th><%= Contact.human_attribute_name(:phone) %></th>
                    <th><%= Contact.human_attribute_name(:grade) %></th>
                    <th><%= Contact.human_attribute_name(:target) %></th>
                    <th colspan="3"><%= t('actions')%></th>
                  </thead>
                  <tbody>

                    <% @contacts.each_with_index do |contact, index| %>
                      <tr>
                        <td><%= contact.name%></td>
                        <td><%= contact.phone%></td>
                        <td><%= contact.grade_name%></td>
                        <td><%= contact.target_name%></td>
                        <td>
                          <%= link_to t('show'), admin_contact_path(contact.id) %>
                          <%- if contact.can_deal?%>
                            <%= link_to t('deal'), deal_admin_contact_path(contact.id), method: :post, data: {confirm: "确认处理完毕?"} %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
              </table>
            <% if @contacts && @contacts.size > 0 %>
              <%= paginate @contacts %>
            <% end %>
          </div>
      </div>
  </div>
</div>
