<%- if notice.present? %>
  <p class="alert alert-success" id="notice"><%= notice %></p>
<% end %>

<div class="card card-user">
  <div class="content mx-auto">
      <p>
        <strong><%= Course.human_attribute_name(:name) %>:</strong>
        <%= @course.name %>
      </p>

      <p>
        <strong><%= Course.human_attribute_name(:price) %>:</strong>
        <%= @course.price %>
      </p>

      <p>
        <strong><%= Course.human_attribute_name(:position) %>:</strong>
        <%= @course.position %>
      </p>

      <p class="text-area">
        <strong><%= Course.human_attribute_name(:introduction) %>:</strong>
        <%= @course.introduction %>
      </p>

      <div class="actions">
        <%= link_to t('edit'), edit_admin_course_path(@course), class: 'btn btn-info btn-fill' %> |
        <%= link_to t('back'), admin_courses_path, class: 'btn btn-info btn-fill' %>
      </div>
  </div>
</div>

<style type="text/css">
  p {
    margin: 30px 0;
  }

  .text-area {
    /*padding: 5px 200px;*/
  }
</style>
