<%- if notice.present? %>
  <p class="alert alert-success" id="notice"><%= notice %></p>
<% end %>

<h1><%="#{t('activerecord.models.statement')}管理"%></h1>

<div class="row">
  <div class="col-md-12">
      <div class="card">
        <div class="header">
          <%= search_form_for([:admin, @q], class: 'form-horizontal') do |f| %>
            <div id="demo-custom-toolbar2" class="table-toolbar-left search-toolbar">
              <div class="col-md-3">
                <%= f.label '起始时间'%>
                <%= f.datetime_field :created_at_gt, class: 'form-control' %>
              </div>
              <div class="col-md-3">
                <%= f.label '结束时间'%>
                <%= f.datetime_field :created_at_lt, class: 'col-md-4 form-control' %>
              </div>
              <div class="col-md-1">
                <%= f.label '类型'%>
                <%= f.select :type_eq, options_for_select(Statement.type_collection), {}, class: 'form-control'%>
              </div>
              <div class="col-md-1" style="margin-top: 25px">
                <button class="btn btn-primary btn-fill pull-right" type="submit">查询</button>
              </div>
              <div class="col-md-2" style="margin-top: 25px">
                <%= link_to t('new')+'收入', new_admin_statement_path(type: :income), class: 'btn btn-success btn-fill pull-right' %>
              </div>
              <div class="col-md-2" style="margin-top: 25px">
                <%= link_to t('new')+'支出', new_admin_statement_path(type: :outcome), class: 'btn btn-success btn-fill pull-right' %>
          
              </div>
            </div>
          <% end %>
        </div>
        <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                  <thead>
                                        <th><%= Statement.human_attribute_name(:price) %></th>
                                        <th><%= Statement.human_attribute_name(:content) %></th>
                                        <th><%= Statement.human_attribute_name(:type) %></th>
                                        <th><%= Statement.human_attribute_name(:created_at) %></th>
                    
                    <th colspan="3"><%= t('actions')%></th>
                  </thead>
                  <tbody>

                    <% @statements.each_with_index do |statement, index| %>
                      <tr>
                        <td><%= statement.price%></td>
                        <td><%= statement.content%></td>
                        <td><%= statement.type_name%></td>
                        <td><%= statement.created_at.strftime("%F")%></td>
                        <td>
                          <%= link_to t('show'), admin_statement_path(statement.id) %>
                          <%= link_to t('edit'), edit_admin_statement_path(statement.id) %>
                          <%= link_to t('destroy'), admin_statement_path(statement.id), method: :delete, data: { confirm: "你确定要删除吗?"} %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
              </table>
            <% if @statements && @statements.size > 0 %>
              <%= paginate @statements %>
            <% end %>
          </div>
      </div>
  </div>
</div>
